/* Colors
   ========================================================================== */
$red: #d73f3f;
$red-light: #ffeded;
$orange: #FAA71E;
$blue-dark: #2c3038;
$blue-light: #929db3;
$blue-grey: #68707f;
$grey-light: #e1e0e0;
$tan: #f0efef;


/* Typography
   ========================================================================== */
$root-font-size: 14px;
$base-font-style: normal;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-semi-bold: 600;
$base-font-bold: 700;
$base-font-size: 1rem;
$base-line-height: 1.8;

$special-font-family: 'Barlow Condensed', sans-serif;
